@import "config.scss";
form{
  p{
    font-family:$font1;
  }
  fieldset{
    padding: 0px;
    border: none;
    width: 100%;
    max-width: 400px;
    @media #{$mobile}{
      max-width: 350px;
    }
    display: flex;
    flex-direction: column;
    label{
      margin: 4px 2px;
      &.msg{
        color: $error;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 18px;
      }
    }
    .textField,.passwordField,.searchField{
      transition: all .5 linear;
      border: 1.5px solid  $grey;
      border-radius: 3px;
      color:rgba(0,0,0,0.8);
      display: flex;
      align-items: center;
      justify-content: space-between;
      input{
        transition: all .5 linear;
        font-family: $font2;
        background-color: $clear;
        border: none;
        flex: 1;
      }
    }
    .textField,.passwordField{
      input{
        padding: 15px 5px;
        border-left: 3px solid $grey;
      }
      &:focus-within{
        background-color: rgba($primary,15%);
        border-color: $primary !important;
        input{
          background-color: rgba($primary,5%);
          border-left-color: $primary !important;
        }
      }
      &.err{
        border-color: $error;
        input{
          border-left-color:$error;
        }
      }
      i{
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
          background-color: rgba($primary,0.2);
        }
      }
    }
    .searchField{
      input{
        padding: 8px 5px;
      }
      i{
        border-radius: 50%;
        &:first-child{
          padding: 10px 5px;
        }
        &:last-child{
          padding: 10px;
          opacity: 0.8;
          cursor: pointer;
          &:hover{
            background-color: rgba($primary,0.2);
          }
        }
      }
    }
    .checkField{
      cursor: pointer;
      position: relative;
      border: 0;
      input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark{
          background-color: rgba($primary,.1);
          &::after{
            display: block;
          }
        }
      }
      .checkmark{
        position: relative;
        top: 2px;
        display: inline-block;
        height: 13px;
        width: 13px;
        background-color: $clear;
        border: 2px solid $primary;
        border-radius: 3px;
        &::after{
          content: "";
          position: relative;
          width: 4px;
          height: 8px;
          right: -3px;
          border: solid $primary;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          display: none;
          border-bottom-right-radius: 1px;
        }
      }
      label{
        cursor: pointer;
      }
    }
  }
  .btn{
    margin: 10px 0px;
    max-width: 400px;
    width: 100%;
    input[type="submit"],a{
      border: 2px solid $primary;
      cursor: pointer;
      border-radius: 3px;
      padding: 15px 0px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    input[type="submit"]{
      width: 100%;
      background-color: $primary;
      color: rgb(255,255,255);
    }
    a{
      color:$primary;
      background-color: rgba(255,255,255,0);
      &:hover{
        background-color: rgba($primary,0.2);
      }
    }
  }
}
.pwdVisibilityIcon{
  padding: 8px;
  &:hover{
    background-color: rgba($primary,.4);
    border-radius: 50%;
  }
}
